In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt

from sklearn.preprocessing import PowerTransformer
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

In [2]:
df=pd.read_csv('concrete_data.csv')

In [3]:
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
x=df.drop(['Strength'],axis=1)
y=df['Strength']

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [7]:
yjt=PowerTransformer()

In [8]:
x_train_transformed=yjt.fit_transform(x_train)
x_test_transformed=yjt.transform(x_test)

In [9]:
lamba_values=pd.DataFrame({'cols':x_train.columns,'yeo-jhonson_lambdas':yjt.lambdas_})
lamba_values

                 cols  yeo-jhonson_lambdas
0              Cement             0.189042
1  Blast Furnace Slag             0.022666
2             Fly Ash            -0.142310
3               Water             0.770142
4    Superplasticizer             0.241104
5    Coarse Aggregate             1.044113
6      Fine Aggregate             1.911266
7                 Age             0.001266

In [10]:
lr=LinearRegression()

In [13]:
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

print('The r2 score before transformation is',r2_score(y_test,y_pred))
print('The r2 score before transformation with cross-validation is',np.mean(cross_val_score(lr,x,y,cv=5,scoring='r2')))

The r2 score before transformation is 0.5911879648718985
The r2 score before transformation with cross-validation is 0.46099404916628633

In [14]:
x_transformed=yjt.fit_transform(x+0.000001)
lr.fit(x_train_transformed,y_train)
y_pred2=lr.predict(x_test_transformed)

print('The r2 score After transformation is',r2_score(y_test,y_pred2))
print('The r2 score After transformation with cross-validation is',np.mean(cross_val_score(lr,x_transformed,y,cv=5,scoring='r2')))

The r2 score After transformation is 0.7997646551542748
The r2 score After transformation with cross-validation is 0.6834625228894209