In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [27]:
df=pd.read_csv('train.csv')[['Age','Pclass','SibSp','Parch','Survived']]

In [28]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [29]:
df.shape

(891, 5)

In [30]:
df.isnull().sum()

Age         177
Pclass        0
SibSp         0
Parch         0
Survived      0
dtype: int64

In [31]:
df.dropna(inplace=True)

In [32]:
X=df.drop('Survived',axis=1)

In [33]:
y=df['Survived']

In [34]:
np.mean(cross_val_score(LogisticRegression(),X,y,scoring='accuracy',cv=10))

0.6921165884194054

In [35]:
X['Family Size']=X['SibSp']+X['Parch']+1

In [36]:
X.head()

    Age  Pclass  SibSp  Parch  Family Size
0  22.0       3      1      0            2
1  38.0       1      1      0            2
2  26.0       3      0      0            1
3  35.0       1      1      0            2
4  35.0       3      0      0            1

In [37]:
def newfeature(num):
    if num==1:
        return 0
    elif num>1 and num<4:
        return 1
    else:
        return 2

In [38]:
newfeature(3)

1

In [39]:
X['Family_type']=X["Family Size"].apply(newfeature)

In [40]:
X.head()

    Age  Pclass  SibSp  Parch  Family Size  Family_type
0  22.0       3      1      0            2            1
1  38.0       1      1      0            2            1
2  26.0       3      0      0            1            0
3  35.0       1      1      0            2            1
4  35.0       3      0      0            1            0

In [41]:
X.drop(columns=['SibSp','Parch','Family Size'],inplace=True)

In [42]:
np.mean(cross_val_score(LogisticRegression(),X,y,scoring='accuracy',cv=10))

0.7047926447574336