In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('imdb_data.csv')

In [4]:
df.head(1)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651

In [5]:
df.shape

(3000, 23)

In [7]:
df['release_date'][0:5]

0     2/20/15
1      8/6/04
2    10/10/14
3      3/9/12
4      2/5/09
Name: release_date, dtype: object

In [8]:
# Importing datetime modules
from datetime import datetime
from datetime import date

### strptime means string parser, this will convert a string format to datetime. 
### strftime means string formatter, this will format a datetime object to string format.

In [24]:
df['new_release_date']=df['release_date'].apply(lambda x : datetime.strptime(x,'%m/%d/%y'))

In [29]:
print('Before applying strptime',df['release_date'][0:5])
print('\n\n After applying strptime',df['new_release_date'][0:5])

Before applying strptime 0     2/20/15
1      8/6/04
2    10/10/14
3      3/9/12
4      2/5/09
Name: release_date, dtype: object


 After applying strptime 0   2015-02-20
1   2004-08-06
2   2014-10-10
3   2012-03-09
4   2009-02-05
Name: new_release_date, dtype: datetime64[ns]

In [30]:
print(df['new_release_date'][0].month)
print(df['new_release_date'][0].year)
print(df['new_release_date'][0].day)
print(df['new_release_date'][0].hour)
print(df['new_release_date'][0].minute)

2
2015
20
0
0

In [31]:
print(date.today())
print(datetime.now())

2022-08-04
2022-08-04 23:39:50.116402

In [33]:
from datetime import timedelta
print(date.today())
print(date.today() - timedelta(days=1))
print(datetime.now() + timedelta(hours=5.5))
print(datetime.now() + timedelta(seconds=60))

2022-08-04
2022-08-03
2022-08-05 05:17:00.162835
2022-08-04 23:48:00.162835

In [34]:
# Difference in two datetime
time_delta=df['new_release_date'][0]-df['new_release_date'][5]
time_delta

Timedelta('10060 days 00:00:00')

In [35]:
type(time_delta)

pandas._libs.tslibs.timedeltas.Timedelta

In [36]:
time_delta.total_seconds()

869184000.0

In [37]:
t1 = pd.to_datetime('1/1/2015 01:00')
t2 = pd.to_datetime('1/1/2015 03:30')

print(pd.Timedelta(t2 - t1).seconds / 3600.0)

2.5